.navbar-ties {
  background-color: lightblue;
  justify-content: space-between;
}

.container-offset {
  padding-top: 60px;
}

.bannerStyle {
  width: 100%;
  height: 100%;
}

.bannerImgContainerLG {
  width: 70vw;
  height: 44.35vw;
}

.bannerImgContainer {
  width: 100vw;
  height: 63.36vw;
}
